.search-input {
  margin: auto;
  width: 70%;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-cont {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
